{% extends 'client/layout.html' %}
{% block content %}
    <div class="container mt-4">
        <h3>About Us</h3>
        <p>Detail Marks Certificate (DMC) is the portal all about students of educational institution to save their time
            in viewing their results manually. It also saves time and resources of exam department of an institute. This
            web portal is supported to remove and in some cases minimize the hardships faced by current system. This web
            portal is completely made on administrative. The administrator will allow or deny access to the portal. This
            web portal is to minimize manual work for entering and viewing students result certificate. The system will
            show the complete certificate of student result of class or semester. The information store in this way is
            also secure and safe. This web portal also increases the efficiency to manage student’s results.
            This web portal also helps the users to make online queries through online chat support. Our online chat
            support is available 24 hours to help users that how they use this portal.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur aut deleniti dicta dolor ea eos
            eveniet, iure maxime nam neque nihil nisi perspiciatis placeat quod quos rerum, sed totam.</p>
    </div>
{% endblock %}